[project]
	description = Buck: An Android build tool
[access "refs/*"]
	owner = group user/Bruce Zu (BruceZu)
[access "refs/for/refs/*"]
	read = group user/Bruce Zu (BruceZu)
	push = group user/Bruce Zu (BruceZu)
	label-Code-Review = -2..+2 group user/Bruce Zu (BruceZu)
	label-Verified = -1..+1 group user/Bruce Zu (BruceZu)
	rebase = group user/Bruce Zu (BruceZu)
	removeReviewer = group user/Bruce Zu (BruceZu)
	submit = group user/Bruce Zu (BruceZu)
[access "refs/heads/*"]
	read = group user/Bruce Zu (BruceZu)
	create = group user/Bruce Zu (BruceZu)
	push = +force group user/Bruce Zu (BruceZu)
	pushMerge = group user/Bruce Zu (BruceZu)
[access "refs/tags/*"]
	push = +force group user/Bruce Zu (BruceZu)
	pushTag = group user/Bruce Zu (BruceZu)
	pushSignedTag = group user/Bruce Zu (BruceZu)
